<% if !signed_in? %>
  <div class="center jumbotron">
    <h1>Welcome to the Errand Folks App</h1>

    <h2>
      This is the home page for the the Errand Folks App.
    </h2>

    <%= link_to "Sign up now!", '/sign_up', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<div class="bigHeader">

  <div>
    <h1 class="main-motto">Let's Act As A Society</h1>
  </div>

  <div class="searchArea">

    <!-- <select class="categories">
      <option value="all">All</option>
      <option value="">Music</option>
      <option value="">Food</option>
      <option value="">Carpool</option>
    </select> -->

    <form action="posts/index" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <input class="searchBox" type="search" name="term" id="term" placeholder=" Search For a Service" />
      <div class="searchButton-center">
        <button id="search" class="homePSearch" type="search" name="searchB" >Search</button>
      </div>
    </form>

  </div>

</div>


<div class="Vision">
  <div class="V-center">
    <h2 class="vision-title h2"> Our Vision </h2>
    <hr>

    <p class="vis-p">
       Our lives floods us everyday with more things to do, and less time to do them. From mowing the lawn, to buying groceries, there is simply no easy way to comfortably fit in all these errands around the tedious 9 to 5 workday. We here at the Errand Folks development team believe that society needs a solution to this problem that affects many of us everyday. Our solution is a web application that connects people who do not have enough time or ability to run errands, with those who do. This application provides a way for clients to match with each other quickly, and effectively. Whether you're a college student who needs money to afford groceries, or a store manager with not enough time to buy groceries, Errand Folks will connect you with someone who can help.
    </p>
<hr>
  </div>
</div>

<div class="posting">
     <h2 class="posts-title"> New Listings </h2>
   <div id="slideshow">
     <div class="post-wrapper">
       
       <div class="post">
         <div class="post_head">
           <%= image_tag("posts/post1.jpg", :alt => "profile picture 1", width: "250px") %>
           <h2>Will Mow Lawns for Money</h2>
           <b><p>• Offer</p>
           <p>• Labor</p>
           <p>• Location: Vancouver</b>
         </div>
         <div class="post_body">
          <hr>
           <p>
             My name is Billy Bob, and I want to mow your lawn. I was only at the ripe age of 10 years old when my pa let me start the mower for the first time. The sheer mechanical power of the motor was exhilarating back then, it now my blood craves the adrenaline rush from a good mowing. I charge only $5 for a small lawn, and $10 for a big lawn. I will manage all clean up and other expenses. Trust me, I'm good.
             <br>
             Email: Billy@bob.com
           </p>
         </div>
       </div>
       <div class="post">
         <div class="post_head">
           <%= image_tag("posts/picture_2.png", :alt => "profile picture 2", width: "250px") %>
           <h2>Please pick up my mail</h2>
           <b><p>• Request</p>
           <p>• Labor</p></b>
           <p>• Location: Surrey</p></b>
         </div>
         <div class="post_body">
          <hr>
           <p>
             I remember back in my hayday, when I would go around the neighbourhood delivering the Daily News. From dawn to noon I travelled across the neighbourhood, a pack full of paper on my back. I was unstoppable, the world wouldn't be able to take me down. The world still woudln't be able to take down my pride, but sadly thats because my knees and back have already gotten to it first. Help.
             <br>
             10153 King George Blvd (604) 587-7773
           </p>
         </div>
       </div>
       <div class="post">
         <div class="post_head">
           <%= image_tag("posts/picture_3.png", :alt => "profile picture 3", width: "250px") %>
           <h2>Build me a website</h2>
           <b><p>• Request</p>
           <p>• Technology</p>
           <p>• Location: Other</p></b>
         </div>
         <div class="post_body">
          <hr>
           <p>
             I have this brilliant idea for a website, it's called Favor Friends. Users will be able to do favors for other users in exchange for money. People can ask for favors to be done for them too. Imagine how easier life will be when you can find someone to mow your lawn, or grab your mail in an instant. It'll be great.
             <br>
             Email: BigG@.com
           </p>
         </div>
       </div>
       <hr>
     </div>
   </div>
 </div>
