<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styleMainTheme">
    <title>Errand Folks</title>
  </head>
  <body>
      <div class="main">
        <div class="main_center">
          <h1>Frequently Asked Questions</h1>
          <br>
          <h3>Who is Errand Folks for?</h3>
          <hr>
          <p>Errand Folks is designed for people who don't have enough time or appropriate skills, and those that do. If you're in need of someone with a specfic set of skills or requirements to help you get important work done, Errand Folks will help you find someone to help. If you have extra time and are in need of work to do, Errand Folks can help you showcase your skill set to the world.</p>
          <h3>Why is Errand Folks limited to British Columbia only?</h3>
          <hr>
          <p>We plan to branch out Errand Folks to other locations in due time. However, for the time being we will limit our consumer base strictly to those in the Metro Vancouver area. This is to ensure that all of our users are within a decent distance from each other. We are currently considering expanding our service to the Toronto and Seattle areas. Please support Errand Folks in order to help us expand our service throughout the world. We at the development team appreciate your patience.</p>
          <h3>What makes a good listing?</h3>
          <hr>
          <p>The key to success when using Errand Folks is to be as detailed as you can when writing your listing. Any viewers of your listing would like as much information as possible before making the decision to reply or not. When offering a service, you have to be persuasive in order to sell yourself. What makes your service so good? What makes you stand out from others who might offer the same service? Is your pricing competetive? All of these are good things to consider when trying to convince others to enlist your service. What about if you're writing a listing requesting a service? Being vague with your description won't make anyone want to help you with your request. Make sure to provide as much information as you can about what it is you're requesting, as well as any additional details or requirements concerning the request. Whether you're requesting or offering, remember to make a descriptive and concise title, detailing exactly what you want viewers to see. Also remember to leave contact information for any interested parties to follow up.</p>
        </div>
      </div>
  </body>
</html>
