<footer class="footerContext">
  <p class="footer-comp-motto">Let's Act As a Society.</p>
  <p class="footer-links">
    <a href= "/" >Home</a>
    ·
    <a href="/contact">Help</a>
    ·
    <a href="/career">Career</a>
    ·
    <!-- <a href="/static_pages/aboutUs.html">About</a> -->
    <a href="/about">About</a>
    ·
    <a href="/FAQ">FAQ</a>
    ·
    <a href="/contact">Contact</a>
  </p>

  <p class="footer-comp-name">Blobicorn &copy; 2019</p>
</footer>
